// Colors
$custom-dark: #191919;
$custom-red: #c41e3a;
$zinc-900: #18181B;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Font families 
$font-sans: 'Inter', sans-serif;
$font-heading: 'Poppins', sans-serif;